.ExitButton{
  float:right;
  text-align:center;
  margin:15px 15px 0 0;
  border:1px solid #CCC;
  background-color:rgba(225,35,22,0.6);
  width:28px;
  height:28px;
  font-size:large;
  color:white;
  cursor:pointer;
  border-radius:5px;
    transform: scale(0.95);
    opacity: 0.9;
    transition: transform 0.33s, opacity 0.3s;
}


.ExitButton:hover{
  background-color:rgba(212,25,29,1);
    transform: scale(1.05);
    opacity: 1;
}